node_modules

# Environment variables
.env
deploy/lambda-local/env.json

# Build output
dist

# Deployment artifacts
*.zip
.aws-sam
deploy/.aws-sam
deploy/.lambda-update-*.zip

# IDE
.cursor
.vscode

# OS
.DS_Store
